<div class="product-card">
  <div class="product-card__top">
    <div class="product-card__img">
      <img src="./images/main/stock/img.png" alt="flowers" />
    </div>
    <div class="product-card__top-sales">
      <svg ><use xlink:href="./images/Sprite.svg#product-card-round-sales"></use></svg>
      <p class="product-card__top-sale">-19%</p>
    </div>
    <div class="product-card__top-like">
      <svg ><use xlink:href="./images/Sprite.svg#product-card-like"></use></svg>
      <div class="product-card__top-like_active">
        <svg ><use xlink:href="./images/Sprite.svg#product-card-like_active"></use></svg>
      </div>
    </div>
    <div class="product-card__top-sign">TOP</div>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__bottom-stars">
      <svg ><use xlink:href="./images/Sprite.svg#product-card-stars"></use></svg>
    </div>
    <div class="product-card__bottom-name-price">
      <div class="product-card__bottom-name">101 красная роза</div>
      <div class="product-card__bottom-prices">
        <div class="product-card__bottom-old-price">2800 грн</div>
        <div class="product-card__bottom-price">2280 грн</div>
      </div>
    </div>
    <a href="#">
      <div class="product-card__bottom-button-desktop">
        Заказать
        <img src="./images/main/stock/button-branch.png" alt="button-branch" />
      </div>
    </a>
    <a href="#">
      <div class="product-card__bottom-button-mobile">
        <img src="./images/main/stock/button-branch.png" alt="button-branch" />
        <svg ><use xlink:href="./images/Sprite.svg#product-card-button-mobile"></use></svg>
      </div>
    </a>
    <a href="#">
      <div class="product-card__bottom-order">Быстрый заказ</div>
    </a>
  </div>
</div>
