<div class="reviews__card">
    <div class="reviews__user-info">
      <div class="reviews__user-photo">
        <img src="./images/previews/user.png" alt="user" />
      </div>
      <p class="reviews__user-name">Ирина Артипенко</p>
    </div>
    <p class="reviews__user-text">
      Тюльпан - символ любви, весеннего обновления, счастья, теплой и
      солнечной погоды и хорошего приподнятого настроения! Тюльпан
      отличается элегантностью форм и ...
    </p>
    <a href="#">
      <div class="reviews__all-reviews">
        <p>Весь отзыв</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="7"
          height="12"
          viewBox="0 0 7 12"
          fill="none"
        >
          <path
            d="M1.00012 11L5.58496 6L1.00012 1"
            stroke="#BDBDBD"
            stroke-width="1.5"
          />
        </svg>
      </div>
    </a>
    <div class="reviews__stars-data">
      <svg>
        <use xlink:href="./images/Sprite.svg#product-card-stars"></use>
      </svg>
      <p>22.02.2021</p>
    </div>
  </div>