<div class="search-dropdown">
  <ul class="search-dropdown__list">
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Букеты</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Розы</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Цветы в коробке</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Композиции</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Подарки</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Подарочные корзины</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Букеты невесты</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="./catalog.html" class="search-dropdown__list-link">Вкусные букеты</a>
    </li>
  </ul>
</div>
