<div class="search-dropdown">
  <ul class="search-dropdown__list">
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%80%D0%BE%D0%B7&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из роз</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%85%D1%80%D0%B8%D0%B7%D0%B0%D0%BD%D1%82%D0%B5%D0%BC&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link">Букеты из хризантем</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B0%D0%BB%D1%8C%D1%82%D1%80%D0%BE%D0%BC%D0%B5%D1%80%D0%B8%D0%B8&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link">Букеты из альтромерии</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B3%D0%B5%D1%80%D0%B1%D0%B5%D1%80&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из гербер</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B8%D1%80%D0%B8%D1%81%D0%BE%D0%B2&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из ирисов</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%BF%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из пионов</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%8D%D1%83%D1%81%D1%82%D0%BE%D0%BC%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из эустомы</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%82%D1%8E%D0%BB%D1%8C%D0%BF%D0%BE%D0%BD%D0%BE%D0%B2&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из тюльпонов</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%84%D1%80%D0%B5%D0%B7%D0%B8%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из фрезий</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%BE%D1%80%D1%85%D0%B8%D0%B4%D0%B5%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из орхидей</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B3%D0%BE%D1%80%D1%82%D0%B5%D0%BD%D0%B7%D0%B8%D0%B8&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из гортензии</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%BB%D0%B8%D0%BB%D0%B8%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из лилий</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B3%D0%B2%D0%BE%D0%B7%D0%B4%D0%B8%D0%BA&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты из гвоздик</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B5%D1%80%D1%81%D0%BA%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Дизайнерские букеты</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Бизнес букеты </a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%BB%D1%8E%D0%B1%D0%B8%D0%BC%D0%BE%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты любимой</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BC%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты для мужчины</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Весение букеты</a>
    </li>
    <li class="search-dropdown__list-item">
      <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%9B%D0%B5%D1%82%D0%BD%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Летние букеты</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%91%D0%B5%D0%BB%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Белые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9A%D1%80%D0%B5%D0%BC%D0%BE%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Кремовые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%A1%D0%B8%D0%BD%D0%B8%D0%B5%2F%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Синие/голубые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%93%D0%BE%D0%BB%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B8%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Голландские розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Красные розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9E%D1%80%D0%B0%D0%BD%D0%B6%D0%B5%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Оранжевые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9A%D1%83%D1%81%D1%82%D0%BE%D0%B2%D0%B0%D1%8F+%D1%80%D0%BE%D0%B7%D0%B0&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Кустовая роза</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9C%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Метровые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%A0%D0%BE%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Розовые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%96%D1%91%D0%BB%D1%82%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Жёлтые розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%A7%D0%B5%D1%80%D0%BD%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Черные розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9F%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2%D0%B8%D0%B4%D0%BD%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Пионовидные розы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C11+%D1%80%D0%BE%D0%B7&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> 11 роз</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C19+%D1%80%D0%BE%D0%B7&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> 19 роз</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C25+%D1%80%D0%BE%D0%B7&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> 25 роз</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C51+%D1%80%D0%BE%D0%B7%D0%B0&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> 51 роза</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5+%D1%81+%D0%BF%D0%B8%D1%80%D0%BE%D0%B6%D0%B5%D0%BD%D1%8B%D0%BC+Macarons&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы в коробке с пироженым Macarons</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5+%D1%81%D0%B5%D1%80%D0%B4%D1%86%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы в коробке сердце</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BF%D1%80%D1%8F%D0%BC%D0%BE%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы в прямоугольной коробке</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D1%88%D0%BB%D1%8F%D0%BF%D0%BD%D0%BE%D0%B9+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы в шляпной коробке</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A0%D0%BE%D0%B7%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Розы в коробке</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%9F%D0%B8%D0%BE%D0%BD%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Пионы в коробке</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%9A%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B+%D1%81+%D1%86%D0%B2%D0%B5%D1%82%D0%B0%D0%BC%D0%B8&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Корзины с цветами</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%93%D0%BE%D1%80%D1%88%D0%B5%D1%87%D0%BD%D1%8B%D0%B5+%D1%80%D0%B0%D1%81%D1%82%D0%B5%D0%BD%D0%B8%D1%8F&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Горшечные растения</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%B0%D1%80%D0%BA%D0%B8&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветочные арки</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D1%8B&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветочные букеты для невесты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%93%D0%B8%D1%80%D0%BB%D1%8F%D0%BD%D0%B4%D1%8B+%D0%B8%D0%B7+%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Гирлянды из цветов</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BA%D0%BE%D1%80%D0%BE%D0%BD%D1%8B&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветочные короны</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%BF%D0%BE%D0%B4%D0%B0%D1%80%D0%BE%D1%87%D0%BD%D1%8B%D0%B5&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты подарочные</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D0%B8%D0%B8&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветочные композиции</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D0%BA%D0%B0&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Романтика</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BF%D0%BE%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы для поздравлений</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%BD%D0%B0+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы на заказ</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D1%81+%D1%81%D0%B5%D1%80%D0%B4%D1%86%D0%B5%D0%BC&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветы с сердцем</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%85+%D0%B4%D0%BD%D0%B5%D0%B9&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты для особых дней</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветочные корзины</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%A0%D0%BE%D0%B7%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D0%B0%D1%85&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Розы в корзинах</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D0%B0%D1%85&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букеты в корзинах</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BD%D0%B0%D0%B1%D0%BE%D1%80%D1%8B&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Цветочные наборы</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%9A%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B+%D1%81+%D1%80%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D1%87%D0%BD%D1%8B%D0%BC%D0%B8+%D1%86%D0%B2%D0%B5%D1%82%D0%B0%D0%BC%D0%B8&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Корзины с романтичными цветами</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%A1%D0%B2%D0%B0%D0%B4%D0%B5%D0%B1%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Свадебные букеты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82+%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Букет невесты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%AD%D0%BA%D1%81%D0%BA%D0%BB%D1%8E%D0%B7%D0%B8%D0%B2%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Эксклюзивные букеты</a>
    </li>

    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A8%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Шоколадные букеты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A4%D1%80%D1%83%D0%BA%D1%82%D0%BE%D0%B2%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Фруктовые букеты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A1%D0%BB%D0%B0%D0%B4%D0%BA%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Сладкие букеты</a>
    </li>
    <li class="search-dropdown__list-item">
        <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A4%D1%80%D1%83%D0%BA%D1%82%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D0%B8%D0%B8&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1" class="search-dropdown__list-link"> Фруктовые композиции</a>
    </li>
  </ul>
</div>
