.reviews {
  margin-top: 48px;
  margin-bottom: 80px;

  @include breakpoint($md6) {
    margin-bottom: 62px;
    margin-top: 23px;
  }
  // .reviews__nav

  &__nav {
    display: flex;
    gap: 37px;
    margin-bottom: 47px;

    @include breakpoint($md4) {
      display: none;
    }
    a {
      color: #828282;
      font-family: AguafinaScript;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-decoration-line: underline;

      &:last-child {
        text-decoration-line: none;
      }
    }
  }

  // .reviews__title

  &__title {
    color: #333;
    text-align: center;
    font-family: Actor;
    font-size: 48px;
    font-weight: 400;
    line-height: 18px;
    
    @include breakpoint($md4) {
      font-size: 24px;
    }
  }

  // .reviews__swiper

  &__swiper {
    padding-top: 99px !important;
    @include breakpoint($md4) {
      padding-top: 58px !important;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 27px;
    justify-content: center;
    position: relative;
  }

  // .reviews__card

  &__card {
    padding: 30px 40px 25px 25px;
    border: 1px solid #956d84;
    max-width: 279px;

    @include breakpoint($md3) {
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(6) {
        display: none;
      }
      &:nth-child(7) {
        display: none;
      }
      &:nth-child(8) {
        display: none;
      }
    }

    @include breakpoint($md4) {
      &:nth-child(5) {
        display: block;
      }
    }
  }

  // .reviews__user-info

  &__user-info {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 14px;
  }

  // .reviews__user-photo

  &__user-photo {
    img, source {
      width: 74px;
      height: 74px;
    }
  }

  // .reviews__user-name

  &__user-name {
    color: #333;
    font-family: Actor;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    max-width: 85px;
  }

  // .reviews__user-text

  &__user-text {
    color: #828282;
    font-family: Aclonica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 229px;
    margin-bottom: 15px;
    margin-bottom: 34px;

    @include breakpoint($md4) {
      margin-bottom: 15px;
    }
  }

  // .reviews__all-reviews

  &__all-reviews {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 18px;
    p {
      color: #bdbdbd;
      font-family: Acme;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      cursor: pointer;
    }
  }

  // .reviews__stars-data

  &__stars-data {
    display: flex;
    justify-content: space-between;
    svg {
      width: 74px;
      height: 15px;
    }

    p {
      color: #bdbdbd;
      font-family: AguafinaScript;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__swiper-pagination-wrapper {
    display: none;

    @include breakpoint($md3) {
      display: flex;
      justify-content: space-between;
    }
    @include breakpoint($md6) {
      position: relative;
      height: 47px;
    }
  }

  // .reviews__swiper-pagination

  &__swiper-pagination {
    
  }

  &__swiper-button-desktop {
    @include breakpoint($md3) {
      display: none;
    }
  }

  // .reviews__swiper-button-prev

  &__swiper-button-prev {
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 1000;
    cursor: pointer;

    svg path {
      fill: black;
    }

    @include breakpoint($md2) {
      top: 40px;
    }

    @include breakpoint($md3) {
      position: static;
    }
    @include breakpoint($md6) {
      position: absolute;
      top: 0;
      left: -15px;
    }
  }

  // .reviews__swiper-button-next

  &__swiper-button-next {
    position: absolute;
    right: 0;
    top: 250px;
    z-index: 1000;
    cursor: pointer;

    svg path {
      fill: black;
    }

    @include breakpoint($md2) {
      top: 40px;
    }
    @include breakpoint($md3) {
      transform: rotate(180deg);
      position: static;
    }
    @include breakpoint($md6) {
      position: absolute;
      top: 0;
      right: -15px;
    }
  }

  &__button {
    display:  none;
    @include breakpoint($md3) {
      display: block;
      width: 290px;
      height: 50px;
      color: #fff;
      font-family: Actor;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      border-radius: 7px;
      background: #956d84;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      margin-top: 67px;
      margin-bottom: 49px;
      transition: all 0.2s ease;

      img {
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
      }
    } 
  }

  &__button-text {
    color: #fff;
    text-align: center;
    font-family: AbyssinicaSIL;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }

  &__swiper-pagination {
    .swiper-pagination-bullet {
      cursor: pointer;
      font-family: AguafinaScript;
      font-size: 24px;
      color: #b0b9c0;
      margin-right: 30px !important;
      width: 0 !important;

      @include breakpoint($md5) {
        font-size: 16px;
      }
    }
    .swiper-pagination-bullet-active {
      color: #fff;
      z-index: 2;
      background: transparent !important;
      &::after {
        position: absolute;
        content: '';
        width: 38px;
        height: 38px;
        border-radius: 10%;
        background: #d6c5cf;
        transform: translate(-50%, -50%);
        z-index: -1;

        
        @include breakpoint($md6) {
          width: 38px;
          height: 38px;
        }
      }
    }
  }
  
}

.reviews__swiper-button-next.swiper-button-disabled svg path {
  fill: gray;
}
.reviews__swiper-button-prev.swiper-button-disabled svg path {
  fill: gray;
}
