<div id="categoryMenu" class="bottom-header__mobile-menu mobile-menu">
  <div class="mobile-menu__body">
    <div class="mobile-menu__top">
      <span>Категории</span>
      <div class="mobile-menu__close">
        <svg ><use xlink:href="./images/Sprite.svg#burger-category-close"></use></svg>
      </div>
    </div>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__center">
        <div class="mobile-menu__dropdowns mobile-menu-dropdowns">
          <ul class="mobile-menu-dropdowns__body">
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"

            >
              <button>
                Все букеты
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%80%D0%BE%D0%B7&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из роз
                  </li>
                 
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%85%D1%80%D0%B8%D0%B7%D0%B0%D0%BD%D1%82%D0%B5%D0%BC&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из хризантем
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B0%D0%BB%D1%8C%D1%82%D1%80%D0%BE%D0%BC%D0%B5%D1%80%D0%B8%D0%B8&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Букеты из альтромерии 
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B3%D0%B5%D1%80%D0%B1%D0%B5%D1%80&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из гербер
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B8%D1%80%D0%B8%D1%81%D0%BE%D0%B2&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из ирисов 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%BF%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из пионов  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%8D%D1%83%D1%81%D1%82%D0%BE%D0%BC%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из эустомы 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%82%D1%8E%D0%BB%D1%8C%D0%BF%D0%BE%D0%BD%D0%BE%D0%B2&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из тюльпонов  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D1%84%D1%80%D0%B5%D0%B7%D0%B8%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из фрезий 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%BE%D1%80%D1%85%D0%B8%D0%B4%D0%B5%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из орхидей  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B3%D0%BE%D1%80%D1%82%D0%B5%D0%BD%D0%B7%D0%B8%D0%B8&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из гортензии  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%BB%D0%B8%D0%BB%D0%B8%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из лилий 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B8%D0%B7+%D0%B3%D0%B2%D0%BE%D0%B7%D0%B4%D0%B8%D0%BA&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты из гвоздик 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B5%D1%80%D1%81%D0%BA%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Дизайнерские букеты  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Бизнес букеты  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%BB%D1%8E%D0%B1%D0%B8%D0%BC%D0%BE%D0%B9&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты любимой  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BC%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты для мужчины  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Весение букеты
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=%2C%D0%9B%D0%B5%D1%82%D0%BD%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Летние букеты 
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Розы
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%91%D0%B5%D0%BB%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Белые розы
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9A%D1%80%D0%B5%D0%BC%D0%BE%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Кремовые розы
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%A1%D0%B8%D0%BD%D0%B8%D0%B5%2F%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Синие/голубые розы
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%93%D0%BE%D0%BB%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B8%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Голландские розы
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Красные розы 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9E%D1%80%D0%B0%D0%BD%D0%B6%D0%B5%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Оранжевые розы 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9A%D1%83%D1%81%D1%82%D0%BE%D0%B2%D0%B0%D1%8F+%D1%80%D0%BE%D0%B7%D0%B0&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Кустовая роза 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9C%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Метровые розы 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%A0%D0%BE%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розовые розы  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%96%D1%91%D0%BB%D1%82%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Жёлтые розы  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%A7%D0%B5%D1%80%D0%BD%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Черные розы 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C%D0%9F%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2%D0%B8%D0%B4%D0%BD%D1%8B%D0%B5+%D1%80%D0%BE%D0%B7%D1%8B&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионовидные розы  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C11+%D1%80%D0%BE%D0%B7&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    11 роз 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C19+%D1%80%D0%BE%D0%B7&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    19 роз 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C25+%D1%80%D0%BE%D0%B7&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    25 роз  
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=%2C51+%D1%80%D0%BE%D0%B7%D0%B0&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    51 роза  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Цветы в коробке
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5+%D1%81+%D0%BF%D0%B8%D1%80%D0%BE%D0%B6%D0%B5%D0%BD%D1%8B%D0%BC+Macarons&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5+%D1%81%D0%B5%D1%80%D0%B4%D1%86%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BF%D1%80%D1%8F%D0%BC%D0%BE%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B2+%D1%88%D0%BB%D1%8F%D0%BF%D0%BD%D0%BE%D0%B9+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%A0%D0%BE%D0%B7%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=%2C%D0%9F%D0%B8%D0%BE%D0%BD%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B5&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Композиции
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%9A%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B+%D1%81+%D1%86%D0%B2%D0%B5%D1%82%D0%B0%D0%BC%D0%B8&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Корзины с цветами
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%93%D0%BE%D1%80%D1%88%D0%B5%D1%87%D0%BD%D1%8B%D0%B5+%D1%80%D0%B0%D1%81%D1%82%D0%B5%D0%BD%D0%B8%D1%8F&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Горшечные растения
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%B0%D1%80%D0%BA%D0%B8&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветочные арки
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D1%8B&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветочные букеты для невесты
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%93%D0%B8%D1%80%D0%BB%D1%8F%D0%BD%D0%B4%D1%8B+%D0%B8%D0%B7+%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Гирлянды из цветов 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BA%D0%BE%D1%80%D0%BE%D0%BD%D1%8B&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветочные короны 
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Подарки
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%BF%D0%BE%D0%B4%D0%B0%D1%80%D0%BE%D1%87%D0%BD%D1%8B%D0%B5&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты подарочные
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D0%B8%D0%B8&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветочные композиции
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Романтика
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BF%D0%BE%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы для поздравлений
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D0%BD%D0%B0+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы на заказ 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%A6%D0%B2%D0%B5%D1%82%D1%8B+%D1%81+%D1%81%D0%B5%D1%80%D0%B4%D1%86%D0%B5%D0%BC&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы с сердцем 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B4%D0%BB%D1%8F+%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%85+%D0%B4%D0%BD%D0%B5%D0%B9&giftBasket=&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букеты для особых дней  
                  </li>
                </a>
              
              </ul>
            </li>

            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Подарочные корзины
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветочные корзины
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%A0%D0%BE%D0%B7%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D0%B0%D1%85&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в корзинах
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82%D1%8B+%D0%B2+%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D0%B0%D1%85&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Букеты в корзинах 
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%BD%D0%B0%D0%B1%D0%BE%D1%80%D1%8B&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветочные наборы 
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=%2C%D0%9A%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B+%D1%81+%D1%80%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D1%87%D0%BD%D1%8B%D0%BC%D0%B8+%D1%86%D0%B2%D0%B5%D1%82%D0%B0%D0%BC%D0%B8&forBride=&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Корзины с романтичными цветами 
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Подарочные корзины
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%A1%D0%B2%D0%B0%D0%B4%D0%B5%D0%B1%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Свадебные букеты
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82+%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букет невесты
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%AD%D0%BA%D1%81%D0%BA%D0%BB%D1%8E%D0%B7%D0%B8%D0%B2%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Эксклюзивные букеты
                </li>
               </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Букеты невесты
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%A1%D0%B2%D0%B0%D0%B4%D0%B5%D0%B1%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Свадебные букеты
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%91%D1%83%D0%BA%D0%B5%D1%82+%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Букет невесты
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=%2C%D0%AD%D0%BA%D1%81%D0%BA%D0%BB%D1%8E%D0%B7%D0%B8%D0%B2%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&delicious=&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Эксклюзивные букеты
                </li>
               </a>
                
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Вкусные букеты
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A8%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4%D0%BD%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Шоколадные букеты
                  </li>
                </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A4%D1%80%D1%83%D0%BA%D1%82%D0%BE%D0%B2%D1%8B%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Фруктовые букеты
                  </li>
                </a>
               <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A1%D0%BB%D0%B0%D0%B4%D0%BA%D0%B8%D0%B5+%D0%B1%D1%83%D0%BA%D0%B5%D1%82%D1%8B&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Сладкие букеты
                </li>
               </a>
                <a href="https://artemkliuiev.github.io/Flowers/catalog.html?bouquets=&roses=&inBox=&compositions=&gift=&giftBasket=&forBride=&delicious=%2C%D0%A4%D1%80%D1%83%D0%BA%D1%82%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D0%B8%D0%B8&color=&whom=&occasion=&sort=%D0%9F%D0%BE%D0%BF%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&point=1">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Фруктовые композиции
                  </li>
                </a>
              
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
