.dropdown {
    user-select: none;
    position: relative;
    height: 100%;
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $cheryColor;
        border-radius: 2px;
    }
    &__btn {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: left;
        position: relative;
        z-index: 2;
        span{
            position: relative;
        }
        @media (max-width:768px) {
            border-radius: 5px;
            border: 1px solid $cheryColor;
        }
    }
    &__btn-info{
        display: flex;
        align-items: center;
        padding-right: 30px;
        @media (max-width:768px) {
            width: 100%;
            padding: 0;
            justify-content: center;
        }
    }
    &__this-item{
        white-space: nowrap;
        display: inline-block;
        max-width: 140px;
        overflow: hidden;
        color: $mainDarkColor;
        font-size: 18px;
        font-weight: 400;
        text-decoration-line: underline;
        @media (max-width:1420px) {
            max-width: 180px;
        }
        @media (max-width:768px) {
            text-decoration-line: none;
            color: $cheryColor;
            font-size: 14px;
        }
    }
    &__wrapper{
        max-width: 200px;
        height: 50px;
    }
    &__prev-info{
        color: $gray3Color;
        text-align: center;
        text-decoration-line: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        margin-right: 13px;
        @media (max-width:768px) {
            display: none;
        }
    }
    &__arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        width: 10px;
        max-height: 6px;
        transition: all 200ms ease 0s;
        @media (max-width:768px) {
            display: none;
        }
    }
    &__list {
        transition: opacity 0s ease 0s;
        position: absolute;
        z-index: -10;
        opacity: 0;
        width: 100%;
        color: black ;
        max-height: 300px;
        overflow: auto;
        border: 1px solid $cheryColor;
        background: $whiteColor;
    }
    li{
        cursor: pointer;
        padding: 17px 0 16px 15px;
        left: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        background: $whiteColor;
        &:hover{
            background: $cheryColor;
            color: $whiteColor;
        }
    }
    &_active{
        .dropdown{
            &__list {
                transition: opacity 100ms ease 0s;
                z-index: 16;
                opacity: 1;
            }
            &__arrow{
                transform: rotate(180deg) translateY(50%);
                transform-origin: center;
            }
        }
    }
}
