.forum-accordion {
  font-family: Aclonica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.69px;
  background: transparent;
  margin-top: 45px;

  @include breakpoint($md4) {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 37px;
  }

  @include breakpoint($md6) {
    margin-top: 26px;
  }

  &__bread-crumbs {
    display: flex;
    gap: 30px;
    font-family: Aguafina Script, sans-serif;
    margin-top: 9px;
    margin-bottom: 45px;
    background: transparent;

    a {
      color: $gray3Color;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1px;

      &:not(:last-child) {
        text-decoration: underline;
      }
    }

    @include breakpoint($md4) {
      display: none;
    }
  }

  &__title {
    background: transparent;

    h1 {
      color: $mainDarkColor;
      text-align: center;
      font-family: Actor, sans-serif;
      font-size: 48px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 97px;

      @include breakpoint($md4) {
        font-size: 24px;
        margin-top: 22px;
        margin-bottom: 41px;
      }
    }
  }

  &__top-text {
    color: $mainDarkColor;
    margin-bottom: 35px;

    @include breakpoint($md4) {
      margin-bottom: 25px;
    }
  }

  &__accordions {
    .accordion {
      margin-bottom: 21px;
      cursor: pointer;

      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $cheryColor;
        height: 77px;
        padding: 20px 48px 20px 65px;
        color: var(--ffffff, #fff);
        font-size: 24px;
        font-family: Actor;

        @include breakpoint($md4) {
          padding: 20px 16px 20px 36px;
          font-size: 16px;
        }

        svg {
          transform: rotate(0deg);
          transition: all 0.4s ease;
          pointer-events: none;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      &__content {
        box-sizing: content-box;
        justify-content: space-around;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;

        &.active {
          visibility: visible;
          opacity: 1;
          padding-top: 20px;
          padding-bottom: 50px;
          transition: all 0.5s;
          padding-bottom: 38px;
          padding-top: 32px;

          @include breakpoint($md4) {
            padding-bottom: 3px;
            padding-top: 24px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }

  &__last-text {
    margin-top: 51px;

    @include breakpoint($md4) {
      margin-top: 25px;
    }
  }

  margin-bottom: 99px;
}
