.links-row {
    line-height: 1.125; 
    font-size: 16px;
	margin-bottom: 91px;
    &__link{
        color: $gray3Color;
        &:hover{
            text-decoration-line: underline;
        }
        margin-right: 26px;
    }
	&__prev{
        text-decoration-line: underline;
    }
	@include breakpoint($md3) {
		margin-bottom: 40px;
    }
	@include breakpoint($md4) {
        display: none;
    }
}
.product{
    margin: 47px 0 0 0;
	@include breakpoint($md4) {
		margin: 39px 0 0 0;
    }
}


.inform {
	display: grid;
	grid-template: auto / minmax(300px, 580px) minmax(30px, 1fr) minmax(auto, 719px);
	margin-bottom: 77px;
	@include breakpoint($md3) {
		display: block;
    }
	&__picture {
		grid-column: 1;

	}
	&__main {
		grid-column: 3;
		@include breakpoint($md3) {
			grid-row: 2;
			grid-column: 1;
		}
		@include breakpoint($md4) {
			display: flex;
			flex-direction: column;
		}
	}
	&__image {
		aspect-ratio: 1/1;
		max-width: 100%;
		user-select: none;
		img{
			padding: 15% 10%;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

	}
	&__main-image {
		grid-column: 1/4;
		grid-row: 1;
		margin-bottom: 12px;
	}
	&__swiper {
		grid-column: 1/4;
		grid-row: 2;
		aspect-ratio: 579/187;
		width: 100%;
		.swiper-slide {
			width: 100%;
			max-width: 187px;
			display: flex;
			justify-content: center;
			border: 1px solid $whiteColor;
			img{
				user-select: none;
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
				padding: 15px;
			}
			&_active{
				border: 1px solid $cheryColor;
			}
		}
	}
	&__categoty {
		color: $gray4Color;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.125;
		display: block;
		margin-bottom: 37px;
		span{
			color: $gray4Color;
		}
		svg{
			margin-left: 17px;
			fill: $whiteColor;
			width: 10px;
			height: 15px;
			margin-bottom: -2px;
		}
		&:hover{
			text-decoration: underline;
		}
		@include breakpoint($md3) {
			margin: 20px 0;
		}
		@include breakpoint($md4) {
			display: none;
		}
	}
	&__title {
		color: $mainDarkColor;
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 1.3px;
		margin-bottom: 30px;
		@include breakpoint($md3) {
			text-align: center;
		}
		@include breakpoint($md4) {
			display: none;
		}
	}

	&__product-info{
		@include breakpoint($md3) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 50px;
		}
		@include breakpoint($md4) {
			order: 1;
			margin: 15px 0 41px 0;
		}
	}

	&__status-line {
		margin-bottom: 43px;
		display: flex;
		@include breakpoint($md3) {
			order: 2;
			flex-direction: column;
			max-width: 100px;
			margin: 0;
		}
	}
	&__status {
		color: $gray3Color;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.125;
		@include breakpoint($md3) {
			order: 2;
			text-align: right;
		}
		@include breakpoint($md4) {
			font-size: 14px;
		}
	}
	&__stars {
		margin-left: 57px;
		@include breakpoint($md3) {
			order: 1;
			margin: 0 0 21px 0;
		}
		@include breakpoint($md4) {
			margin: 0 0 20px 0;
		}
	}
	&__price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 350px;
		margin-bottom: 49px;
		@include breakpoint($md3) {
			flex-direction: column;
			align-items: flex-start;
			order: 1;
			margin: 0;
		}
	}
	&__this-price {
		color: $cheryColor;
		font-family: Actor;
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		span{
			color: $cheryColor;
		}
		@include breakpoint($md3) {
			margin: 0;
			order: 2;
		}
		@include breakpoint($md4) {
			font-size: 24px;
		}
	}
	&__old-price {
		color: $gray4Color;
		font-family: Acme;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		text-decoration: line-through;
		display: none;
		span{
			color: $gray4Color;
		}
		@include breakpoint($md3) {
			order: 1;
			display: block;
			margin: 0 0 21px 0;
		}
		@include breakpoint($md4) {
			font-size: 14px;
		}
	}
	&__info {
		margin-bottom: 42px;
		@include breakpoint($md4) {
			order: 4;
			margin-bottom: 35px;
		}
	}
	&__info-item {
		display: grid;
		align-items: start;
		grid-template: 1fr / minmax(100px, 142px) 1fr;
		min-height: 32px;
		margin-bottom: 10px;
		span{
			&:first-child{
				grid-column: 1;
				color: $gray4Color;
				font-family: Aguafina Script;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				@include breakpoint($md4){
					font-size: 14px;
				}
			}
			&:last-child{
				grid-column: 2;
				color: $mainDarkColor;
				font-family: AguafinaScript;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				@include breakpoint($md4){
					font-size: 12px;
					margin-bottom: 10px;
				}
			}
		}
		@include breakpoint($md4){
			min-height: 26px;
			grid-template: 1fr / minmax(100px, 130px) 1fr;
		}

	}




	&__info-flowers {}
	&__info-size {}
	&__info-material {
		line-height: 18px;
	}
	&__info-more {}
	&__fast-order {}
	&__tabs {}
}
.main-image {
	position: relative;
	&__sale {
		z-index: 2;
		position: absolute;
		top: 24px;
		left: 24px;
		display: none;
		span{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: $blackColor;
			font-family: AguafinaScript;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			@include breakpoint($md4) {
				font-size: 16px;
			}
		}
		svg{
			width: 98px;
			height: 98px;
			@include breakpoint($md4) {
				width: 60px;
				height: 60px;
			}
		}
		@include breakpoint($md4) {
			top: 11px;
			left: 15px;
		}

	}
	&__like {
		position: absolute;
		z-index: 2;
		top: 44px;
		right: 44px;
		width: 46px;
		height: 41px;
		cursor: pointer;
		svg{
			position: absolute;
			left: 0;
			top: 0;
			width: 46px;
			height: 41px;
			&:last-child{
				opacity: 0;
				transition: opacity 300ms ease 0s;
			}
			@include breakpoint($md4) {
				width: 28.049px;
				height: 25px;
			}
		}
		@include breakpoint($md4) {
			top: 23px;
			right: 13px;
			width: 28.049px;
			height: 25px;
		}
		&_active{
			svg{
				&:last-child{
					opacity: 1;
				}
			}
		}
	}
	&__picture{
		position: relative;
		cursor: zoom-in;
		opacity: 1;
		transform: scale(1);
		transition: all 200ms ease 0s;
		&_animation{
			transform: scale(0.5);
			transition: all 0s ease 0s;
			opacity: 0;
		}
		&_zoom{
			transform: scale(1.4);
			cursor: zoom-out;
		}
	}
}

.btn-row {
	height: 63px;
	display: flex;
	margin-bottom: 48px;
	&__btn {
		user-select: none;
		line-height: 63px;
		width: 220px;
		@include breakpoint($md4) {
			height: 50px;
			width: 60%;
			line-height: 50px;
		}
		@include breakpoint($md5) {
			height: 50px;
			width: 100%;
			line-height: 50px;
			font-size: 16px;
		}
	}
	@include breakpoint($md3) {
		justify-content: center;
	}
	@include breakpoint($md4) {
		height: 50px;
		order: 2;
		margin-bottom: 28px;
	}
}
.counter {
	caret-color: $cheryColor;
	text-indent: 10px;
	height: 63px;
	width: 105px;
	border: 1px solid $cheryColor;
	margin-right: 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__number {
		color: $mainDarkColor;
		font-family: AguafinaScript;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		display: block;
		width: 40px;
		text-align: center;
	}
	&__arrow{
		user-select: none;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		svg{
			width: 13px;
			height: 20px;
			fill: $whiteColor;
		}
	}
	&__arrow-right {
		transform: rotate(180deg);
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield; 
	}
	@include breakpoint($md4) {
		display: none;
	}
}

.btn {
}
.fast-order {
	&__title {
		color: $gray3Color;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		margin-bottom: 20px;
	}
	&__btn-arrow{
		display: none;
	}
	&__main{
		@include breakpoint($md3) {
			max-width: 511px;
			margin: 50px auto 0;
		}
		@include breakpoint($md5) {
			max-width: 511px;
			margin: 0;
		}
	}
	&__input-line {
		display: flex;
		height: 61px;
		width: 511px;			
		position: relative;
		margin-bottom: 5px;
		&::after{
			content: '+380';
			width: 27px;
			height: 18px;
			position: absolute;
			top: 50%;
			transform: translateY(-40%);
			left: 34px;
			color: $gray3Color;
			font-family: AguafinaScript;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
		}
		&::before{
			content: 'Номер телефна';
			width: 106px;
			height: 18px;
			line-height: 18px;
			position: absolute;
			top: 0;
			left: 61px;
			transform: translateY(-50%);
			background-color: $whiteColor;
			color: $gray5Color;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			transition: all 200ms ease 0s;
		}
		&_focus{
			&::before{
				color: $cheryColor;
			}
		}
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type="number"] {
			-moz-appearance: textfield; 
		}
		@include breakpoint($md4){
			height: 56px;
			width: 100%;
		}
	}
	&__input {
		padding-left: 65px;
		flex-grow: 1;
		max-width: 100%;
		border: 1px solid $gray5Color;
		letter-spacing: 1.5px;
		transition: all 200ms ease 50ms;
		color: $gray3Color;
		font-family: AguafinaScript;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		&:focus{
			border: 1px solid $cheryColor;
		}
	}
	&__btn {
		width: 190px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&__error{
		margin-bottom: 23px;
		height: 20px;
		.invalid {
			color: $redColor !important;
			padding-left: 7px;
			font-size: 14px;
			@include breakpoint($md4){
				font-size: 12px;
			}
		}
		@include breakpoint($md3) {
			margin-bottom: 30px;
		}
		@include breakpoint($md5) {
			margin-bottom: 23px;
		}
	}
	@include breakpoint($md4) {
		order: 3;
		span{
			display: none;
		}
		&__btn-arrow{
			margin-left: 28px;
			display: block;
			width: 21px;
			height: 18px;
		}
		&__btn {
			width: 77px;
			&::after{
				display: none;
			}
		}
	}
}
.tabs {
	@include breakpoint($md4) {
		order: 5;
	}
	&__line {
		display: flex;
		max-width: 475px;
		justify-content: space-between;
		margin-bottom: 34px;
		@include breakpoint($md3) {
			max-width: none;
			justify-content: space-around;
		}
		@include breakpoint($md4) {
			justify-content: space-between;
			margin-bottom: 13px;
		}
	}
	&__btn {
		transition: all 300ms ease 0s;
		cursor: pointer;
		user-select: none;
		color: $gray3Color;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		span{
			color: $gray3Color;
		}
		svg{
			transition: all 300ms ease 0s;
			margin-left: 9px;
			width: 15px;
			height: 8px;
			fill: $whiteColor;
			transform: rotate(180deg);
			transform-origin: center;
		}
		&:hover{
			text-decoration: underline;
		}
		@include breakpoint($md4){
			font-size: 12px;
		}
	}
	&__info {
		color: $gray3Color;
		font-family: Aclonica;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.25;
		width: 100%;
		height: 100%;
		display: none;
		@include breakpoint($md4){
			font-size: 12px;
		}
	}
	&__more-reviews{
		display: block;
		margin-top: 15px;
		text-align: center;
		font-size: 16px;
		color: $gray3Color;
		&:hover{
			text-decoration: underline;
		}
		@include breakpoint($md4){
			margin-top: 20px;
			font-size: 12px;
		}
	}
	&_delivery{
		.tabs{
			&__info-delivery {
				display: block;
			}
			&__btn-delivery {
				color: $cheryColor;
				svg{
					transform: rotate(0);
				}
			}
		}
	}
	&_description{
		.tabs{
			&__info-description {
				display: block;
			}
			&__btn-description {
				color: $cheryColor;
				svg{
					transform: rotate(0);
				}
			}
		}
	}
	&_reviews{
		.tabs{
			&__info-reviews {
				display: block;
			}
			&__btn-reviews {
				color: $cheryColor;
				svg{
					transform: rotate(0);
				}
			}
		}
	}
}

.review {
	display: grid;
	border-bottom: 1px solid $gray5Color;
	border-top: 1px solid $gray5Color;
	margin-bottom: 10px;
	padding: 5px;
	grid-template: auto / auto 1fr;
	gap: 20px;
	&__picture {
		grid-column: 1;
		img{
			border-radius: 50%;
			width: 74px;
			height: 74px;
			@include breakpoint($md4){
				width: 50px;
				height: 50px;
			}
		}
	}
	&__main {
		grid-column: 2;
	}
	&__top-info{
		display: flex;
		justify-content: space-between;
	}
	&__data {
		color: $gray3Color;
		font-size: 10px;
		@include breakpoint($md4){
			font-size: 8px;
		}
	}
	&__name {
		font-size: 18px;
		margin-bottom: 10px;
		color: $mainDarkColor;
		@include breakpoint($md4){
			font-size: 14px;
		}
	}
	&__text {
		font-size: 16px;
		color: $mainDarkColor;
		@include breakpoint($md4){
			font-size: 12px;
		}
	}
}



.inform {
	
}
